# Ignore file for OGS ParaView Suite
#
# Arnau Miro, OGS (2018)

# Ignore any level of python compiled file
**/*.pyc

# We ignore all the build directories inside OGSPlugins
OGSPlugins/*/build

# We also ignore all the Testing directories inside OGSPlugins
OGSPlugins/*/Testing
